.inputForm {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.input {
  flex-grow: 1;
  border: none;
  padding: 8px;
  border-bottom: 2px solid gainsboro;
  font-size: 18px;

  &:focus {
    outline: none;
    border-bottom: 2px solid blueviolet;
  }
}

.addBtn {
  background-color: white;
  border: 2px solid gainsboro;
  font-weight: 600;
  font-size: 14px;
  padding: 8px;
  border-radius: 8px;

  &:hover {
    border: 2px solid blueviolet;
  }

  &:active {
    background-color: blueviolet;
    color: white;
  }
}
